In [4]:
import pandas as pd

In [5]:
#DataFrame Example with numbers
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [6]:
#DataFrame Example with words
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [7]:
#Dictionarie key names are the column labels and the row labels are the index
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B']) #indexes can be given names like this

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [8]:
#Series Example with numbers
pd.Series([1, 2, 3, 4, 5]) #basically a single column of a DataFrame

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
#Series get index names and a column name like this...
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [11]:
#We can read data files using pd.read_csv (Comma-Separated-Values)
#we can then shape the data using .shape
#wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")
#wine_reviews.shape #prints (129971, 14) ----> 130,000 records split across 14 different columns
#wine_reviews.head() #gets the first five rows of the dataframe
#wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0) #uses file's existing index colume

In [ ]:
#write a DataFrame to disk
#dataframe.to_csv("cows_and_goats.csv")